/* #f6af49 #fb5 sandybrown hsl(35,90,62) rgb(246,175,73) */

body{
  margin:0;
  padding: 0;
  background-image: url(../img/BgSitePromo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

#main{
  width: auto;
  height: 100%;
  margin: 0 ;
  padding: 30px;
  clear: both;
  text-align: center;
}

.map {
  height: 400px;
  width: 100%;
  max-width: 800px;
}

#main img{
  margin: 20 auto;
  width: 15%;
  min-width: 150px;
}

#main img.fbLogo{
  margin: 5 auto;
  width: 50px;
  min-width: 50px;
  -webkit-filter: hue-rotate(20deg);
  filter: hue-rotate(20deg);
}

.hide{

  display: none;
}

.texto{
  font-size: 26px;
  color: #f6af49;
  text-shadow: 0 0 3px #753e1a;
}

.flip-clock-wrapper ul li a div div.inn {
  color: #faaf23;
}

.clock{
  margin: 50px auto 0 auto;
  width: 650px;
	height: 116px;
}

.flip-clock-divider .flip-clock-label {
	font-size: 24px;
	color: #FFF;
  right: -100px;
  text-shadow: 0 0 3px #753e1a;
}
.flip-clock-divider.minutes .flip-clock-label {
    right: -112px;
}
.flip-clock-divider.seconds .flip-clock-label {
    right: -125px;
}

@media screen and (max-width: 767px) {
  .clock { margin: 0 auto; display: block; width: 450px; height: 70px;}

	.flip-clock-wrapper ul { height: 50px; line-height: 50px; }
	.flip-clock-wrapper ul li a div.up:after { top: 24px; }
	.flip-clock-divider { height: 50px; }
	.flip-clock-dot { height: 6px; width: 6px; left: 7px;}
	.flip-clock-dot.top { top: 17px; }
	.flip-clock-dot.bottom { bottom: 8px; }

  .flip-clock-divider .flip-clock-label { font-size: 14px; }
  .flip-clock-divider.hours .flip-clock-label { right: -66px !important; }
	.flip-clock-divider.minutes .flip-clock-label { right: -78px; }
	.flip-clock-divider.seconds .flip-clock-label { right: -78px; }

  .flip-clock-divider .flip-clock-label {
    right: -70px;
    text-shadow: 0 0 3px #753e1a;
  }

  .flip-clock-divider.days .flip-clock-label {
      right: -58px;
  }

  .flip-clock-divider.minutes .flip-clock-label {
      right: -70px;
  }
  .flip-clock-divider.seconds .flip-clock-label {
      right: -75px;
  }

	.flip-clock-wrapper ul { width: 37px; margin: 2px;}
	.flip-clock-wrapper ul li a div div.inn { font-size: 30px; line-height: 50px;}

  .texto{
    font-size: 16px;
  }
}
